name: Demo
on:
  workflow_dispatch:
jobs:
  demo:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.setter.outputs.test }}
    steps:
      - run: |
          JSON="{\"message\":\"Hello, World\"}"
          MESSAGE=$(echo "$JSON" | jq '.message')
          echo "::add-mask::$MESSAGE"
          echo "test=$MESSAGE" >> "$GITHUB_OUTPUT"
          echo "My secret: $MESSAGE"
        id: setter
  last:
    runs-on: ubuntu-latest
    needs: [demo]
    steps:
      - run: echo ${{ fromJson(needs.demo.outputs.output1).message }}
    
